* {margin: 0;
padding: 0;}
html, body {height: 100%}
@font-face {
    font-family: Montserrat;
    src: url('./fonts/montserrat-regular.eot');
    src: url('./fonts/montserrat-regular.ttf') format('truetype'),
    url('./fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Montserrat, sans-serif;
    background: url(images/BG.png) 0 0/100% 100% no-repeat fixed;

    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
}
.block {}
.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}
.container {
    max-width: 80.3645vw;
    flex: 1 1 auto;
   /* flex-basis: 80.3645vw;*/
    display: flex;
    flex-direction: column;
    padding: 0 0.9375vh;
}
header {
    max-width: 80.3645vw;
    display: flex;
    flex-direction: column;
    flex-grow: 0.6;
    justify-content: space-evenly;
    align-items: stretch;
}
.mainContentWrapper {
    display: flex;
    justify-content: space-around;
}

.menu-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background: #fff;
    font-size: 1.1666em;
    line-height: 1.4;
    text-align: center;
    /*margin: 4.074vh 10.5208vw 6.1111vh 9.1145vw;*/
    /*padding: 0;*/
    list-style-type: none;
}
.menu-main li {
    display: flex;

    font-size: 1.1666em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
   /* padding-bottom: 20px;*/
    /*margin: 0 1.55vw 0 1.55vw;*/
    transition: color .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-main .current, .menu-main li:hover{color: #feb386; text-decoration: underline}
.menu-main li:before,
.menu-main li:after {
    content: "";
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    transition: .8s;
}
.menu-main li:hover:before, .menu-main .current:before {left: 0;}
.menu-main li:hover:after, .menu-main .current:after {right: 0;}
/*
@media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: flex;}
    .menu-main li:after {content: none;}
    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}*/
.hat {
    display: flex;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* width: 81.7708vw;
    height: 13.7037vh;*/
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
    /*margin: 4.074vh 10.5208vw 6.1111vh 9.1145vw;*/
    /* padding: 0;*/
    list-style-type: none;
}
.hat li {
    display: flex;
}
ul.menu-main li > * {
    flex-wrap: wrap;
    padding: 5px;
}
.descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 10.677vw;
}
.description {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    line-height: 1.67;
}
.professional {
    display: flex;
}
.price-catalog {
    width: 13vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.pdfFile {
    display: flex;
    flex-basis: 2.2838vw;
    border-radius: 30px;
    /* background-color: #FFD700FF;*/
    text-align: center;
    position: relative;
    color: #12C868;
    font-weight: 600;
    font-size: 0.9166em;
    line-height: 1.1818;
}
.pdfDownloadLink {
    display: flex;
    flex-basis: 10.5vw;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25;
    color: #1C1C1C;
    text-decoration: none;
    border-bottom: 1px dotted #12C868;
}
.logoImage {
    max-width: 100%;
}
.logoImageAdaptive {
    height: 6.5104vw;
    width: 9.7916vw;
    align-self: center;
}
.answerInMessengers {
    /*width: 8.3255vw;
    height: 6.7981vh;*/
    display: flex;
    flex-direction: column;
    flex-basis: 10vw;
    justify-content: space-evenly;
}
.answerOnlineBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.smallDisk {
    display: flex;
    flex-basis: 0.38vw;
    height: 0.38vw;
    border-radius: 25px;
    background: #12C868;
}
.answerOnline {
    display: flex;
    font-size: 1em;
    line-height: 1.25;
}
.messengers {
    display: flex;
    justify-content: space-evenly;
}
.messengers img {
  /*  top: 50%;
    left: 50%;*/
}
.iconDisk {
    display: flex;
    flex-basis: 2.2838vw;
    justify-content: center;
    align-items: center;
    height: 2.2838vw;
    border-radius: 30px;
   /* background-color: #FFD700FF;*/
    text-align: center;
    position: relative;
}
.viber {
    background-color: #976FCC;
}
.whatsup {
    background-color: #12C868;
}
.telegram {
    background-color: #05A0EB;
}
.messengers>li.viber img {
    display: flex;
    flex-basis: 1.0046vw;
    height: 1.0046vw;
}
.messengers>li.whatsup img {
    display: flex;
    flex-basis: 1.038vw;
    height: 1.038vw;
}
.messengers>li.telegram img {
    display: flex;
    flex-basis: 0.9135vw;
    height: 0.9135vw;
}
.telefonBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.grafikRaboti {
    display: flex;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25;
}
.telefon {
    display: flex;
    font-weight: 600;
    font-size: 1.8333em;
    line-height: 1.2272;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #1C1C1C;
}
.callMe {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.25;
    text-align: center;
    color: #12C868;
    text-decoration: none;
    border-bottom: 1px dotted #12C868;
    display: block;
    top: 21vh;
    left: 77.1vw;
}
.beauty-rotate {
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.beauty-rotate:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.b-popup{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
    z-index: 3;
    width:100%;
    background-color: rgba(255, 122, 49, 0.65);
    position:fixed;
}
.b-popup-content{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-basis:  31.6458vw;
    height: 69.1851vh;

    padding: 1.8518vh 1.0416vw 10px 0.9259vh;
    background-color: #c5c5c5;
    box-shadow: 0px 0px 10px #000;
    border-radius: 35px;
    text-align: center;
}
.scopes {
    display: flex;
    flex-direction: column;
    flex-basis: 66.1851vh;
    justify-content: space-between;
    align-items: center;
    width: 18.5416vw;
    /* height: 10vh; */
 }
.closingCrossLink {
    display: flex;
    align-self: end;
    margin: 0vh -3.9vw -3vh 0vw;
    opacity: 0;
    width: 1.0416vw;
    height: 1.0416vw;
    text-decoration: none;
    color: #808080FF;
}
.closingCross {
    display: flex;
    align-self: end;
    margin: -4vh -4vw 0vh 0vw;
    width: 1.0416vw;
    height: 1.0416vw;
}
.popUpHeader {
    display: flex;
    flex-basis: 2.4vw;
    /*height: 6.8518vh;*/
    font-style: normal;
    font-weight: 500;
    font-size: 3.4em;
    width: 27.4vw;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1C1C1C;
}
.popUpHeaderDescription {
    display: flex;
    flex-basis: 1.5vw;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    width: 24vw;
    line-height: 1.5;
    text-align: center;
    color: #000000;
}
.popUpHeaderGrafikRaboti {
    display: flex;
    flex-basis: 1.3vw;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    width: 21.6vw;
    line-height: 1.2191;
    text-align: center;
    color: #000000;
}
.popUpHeaderTypeTelefon {
    display: flex;

    flex-basis: 1.2vw;
    color: #000000;
    font-size: 2.3em;
    width: 19.2vw;
    line-height: 1.2191;
    text-align: left;
}
.phone_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-basis: 14vw;
    text-align: center;
}
#user_phone {
    display: flex;
    flex-basis: 18.5416vw;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px 8px 8px 8px;
    border: 1px solid #ccc;
    font-size: 3em;
    width: 17vw;
    line-height: 1.1111;
    color: #363636;
    position: relative;
}



#user_phone:focus {
    outline: none;
    border-color: #363636;
}
input#user_phone:-moz-placeholder {
    color: #363636;
}
input#user_phone::-webkit-input-placeholder {
    color: #363636;
}
.btn_submit {
    display: flex;
    flex-basis: 12.0312vw;
    margin-right: -12.0312vw;
    /*height: 4.1666vh;*/
    opacity: 0%;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.btn_submit.disabled {
    color: #363636;
    background: #ccc;
}
.background_btn_submit {
    background: #F38120;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 7.8703vh;
    width: 18.5416vw;
    text-align: center;
    box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
    border-radius: 26.0416vw;
}
.callMePopUp {
    display: flex;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    flex-basis: 13.0312vw;
    font-size: 2.2em;
    height: 3.1vh;
    line-height: 1.25em;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}

.arrowRight {
    display: flex;
    flex-basis: 1.8468vw;
    height: 0.8759vh;
}
.agreementFlex {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 5vh;
    width: 33.8vw;
    align-items: center;
}
 .agreement {
     display: flex;
     transform: scale(2);
 }
.licenseAgreementBlock {
    color: #1C1C1C;
    display: flex;
    flex-basis: 16.6145vw;
    height: 7vh;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8em;
    line-height: 1.75em;
    flex-direction: column;
    align-items: flex-start
  }
.licenseAgreementDownloadLink {
    display: flex;
    width: 28vw;
    text-decoration: none;
    color: #F38120;
}
.leftSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 8.5416vw;

    height: 58.0092vh;
    text-align: center;
}
.leftSidebar li {
    display: flex;
    list-style-type: none;
    flex-basis: 6.1481vh;
    flex-direction: column;
    width: 8.3854vw;
    font-style: normal;
    font-size: 1.1666em;
    line-height: 1.5714;
    color: #1C1C1C;
    transition: background-color 1s ease 0s;
    border-radius: 39px;
    background-color: transparent;
}
.leftSidebar li:hover {
    background: #fed5b2;
    transition: background-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 52vh;
    z-index: 2;
}
.mainHeader {
    display: flex;
    flex-direction: column;
    flex-basis: 20.6111vh;
    width: 31.5937vw;
    font-style: normal;
    font-weight: 300;
    font-size: 4.1833em;
    line-height: 1.5454;
    text-align: justify;
    color: #1C1C1C;
}
.boldText {
    display: contents;
}
.mainHeaderRounds {
    display: flex;
    justify-content: space-between;
    width: 22.1421vw;
    align-items: center;
}
.greenRound100 {
    display: flex;
    flex-basis: 0.4796vw;
    height: 0.4796vw;
    box-sizing: border-box;
    border: 1.5px solid #12C868;
    border-radius: 500px;
}
.greenRound75 {
    display: flex;
    flex-basis: 0.4796vw;
    height: 0.4796vw;
    box-sizing: border-box;
    border: 1.5px solid rgba(18, 200, 104, 0.75);
    border-radius: 500px;
}
.greenRound50 {
    display: flex;
    flex-basis: 0.4796vw;
    height: 0.4796vw;
    box-sizing: border-box;
    border: 1.5px solid rgba(18, 200, 104, 0.5);
    border-radius: 500px;
}
.greenRound25 {
    display: flex;
    flex-basis: 0.4796vw;
    height: 0.4796vw;
    box-sizing: border-box;
    border: 1.5px solid rgba(18, 200, 104, 0.25);
    border-radius: 500px;
}
.mainHeaderDescription {
    display: flex;
    width: 18.8229vw;
    height: 3.6111vh;
    font-style: normal;
    font-weight: 400;
    font-size: 2.6666em;
    line-height: 1.219;
    text-align: center;
    color: #1C1C1C;
}
.backGroundCalculateTheCost {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 20.5612vw;
    height: 9.2592vh;
    background-color: #12C868;
    box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
    border-radius: 500px;
    transition: all, 5s, cubic-bezier(5, 8, 3, 22);
}
.backGroundCalculateTheCost:hover {
    background-color: #21E27C;
    justify-content: space-evenly;
}
.calculateTheCostButton {
    display: flex;
    flex-basis: 12.69375vw;
    height: 4.074vh;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1666em;
    line-height: 1.5714;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.arrowTopRight {
    display: flex;
    flex-basis: 1.1458vw;
    color: #ffffff;
    height: 1.1458vw;
}
.backGroundCheckInForLookingHouses {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 19.1479vw;
    height: 9.2592vh;
    background-color: #F38120;
    box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
    border-radius: 500px;
    transition: all, 5s, ease-in-out;
}
.backGroundCheckInForLookingHouses:hover {
    background-color: #FD9C49;
    justify-content: space-evenly;
}
.checkInForLookingHousesButton {
    display: flex;
    flex-basis: 11.7029vw;
    height: 4.074vh;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1666em;
    line-height: 1.5714;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}
.answerSomeQuestionsContainer {
    display: flex;
    width: 15vw;
    justify-content: space-evenly;
}
.answerSomeQuestions {
    display: flex;
    flex-basis: 12.187vw;
    height: 8.1481vh;

    font-style: normal;
    font-size: 1.1666em;
    line-height: 1.57;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1C1C1C;
}
.fingerPrint {
    display: flex;
    flex-basis: 1.1265vw;
    height: 1.6222vh;
    background: #1C1C1C;
}
/*@media (min-width: 1921px) {
    .logoImageAdaptive {
        height: 125px;
        width: 188px;
    }
}*/
.Header__menu, .main__content__body__mobile {
    display: none;
}

@media (min-width: 768px) and (max-width: 1440px) {
    .logoImageAdaptive {
        height: 93px;
        width: 141px;
    }
    .logoImage {
        max-height: 93px;
        max-width: 141px;
    }
}
@media (max-width: 1366px) {}
@media (max-width: 1280px) {}
@media (max-width: 960px) and (max-height: 1800px) {
    body {
        background: url("./images/background-image-mobile-960-1800.png") 0 0 no-repeat fixed;
    }
}
@media (max-width: 640px) and (max-height: 1200px) {
    body {
        background: url("./images/background-image-mobile-640-1200.png") 0 0 no-repeat fixed;
    }
}
@media (max-width: 480px) and (max-height: 900px) {
    body {
        background: url("./images/background-image-mobile-480-900.png") 0 0 no-repeat fixed;
    }
}
@media (max-width: 320px) and (max-height: 600px) {
    body {
        background: url("./images/background-image-mobile-320-600.png") 0 0 no-repeat fixed;
    }
}
@media (min-width: 769px) and (max-width: 1279px) {}
.header__body__mobile {
    display: none;
}
@media (max-width: 1917px) {
    .popUpHeaderTypeTelefon {
        width: 19.4vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 21.8vw;
    }
}
@media (max-width: 1889px) {
    .leftSidebar li {
        width: 8.4854vw;
    }
}
@media (max-width: 1913px) {
    .popUpHeader {
        font-size: 3.3em;
    }
}
@media (max-width: 1897px) {
    .popUpHeaderGrafikRaboti {
        width: 22vw;
    }
}
@media (max-width: 1890px) {
    .popUpHeaderTypeTelefon {
        width: 19.6vw;
    }
}
@media (max-width: 1880px) {
    .popUpHeaderGrafikRaboti {
        width: 22.2vw;
    }
    .popUpHeaderTypeTelefon {
        width: 19.8vw;
    }
    .popUpHeaderDescription {
        width: 24.2vw;
    }
}
@media (max-width: 1877px) {
    .calculateTheCostButton {
        flex-basis: 12.79375vw;
    }
}
@media (max-width: 1867px) {
    .leftSidebar li {
        width: 8.5854vw;
    }
}
@media (max-width: 1863px) {
    .calculateTheCostButton {
        flex-basis: 12.896vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 22.6vw;
    }
    .popUpHeaderDescription {
        width: 24.6vw;
    }
    .popUpHeaderTypeTelefon {
        width: 20.2vw;
    }
    .popUpHeader {
        font-size: 3.2em;
    }
}
@media (max-width: 1848px) {
    .calculateTheCostButton {
        flex-basis: 12.996vw;
    }
}
@media (max-width: 1845px) {
    .leftSidebar li {
        width: 8.6854vw;
    }
    .mainHeader {
        width: 32.5937vw;
    }
}
@media (max-width: 1834px) {
    .calculateTheCostButton {
        flex-basis: 13.096vw;
    }
}
@media (max-width: 1830px) {
    .popUpHeaderGrafikRaboti {
        width: 23.2vw;
    }
    .popUpHeaderDescription {
        width: 25.2vw;
    }
    .popUpHeaderTypeTelefon {
        width: 20.6vw;
    }
    #user_phone {
        width: 19vw;
    }
}
@media (max-width: 1825px) {
    .leftSidebar li {
        width: 8.7854vw;
    }
}
@media (max-width: 1820px) {
    .calculateTheCostButton {
        flex-basis: 13.196vw;
    }
}
@media (max-width: 1809px) {
    .price-catalog {
        width: 14vw;
    }
    .pdfDownloadLink {
        display: flex;
        flex-basis: 10.55vw;
    }
}
@media (max-width: 1806px) {
    .calculateTheCostButton {
        flex-basis: 13.296vw;
    }
}
@media (max-width: 1804px) {
    .leftSidebar li {
        width: 8.8854vw;
    }
}
@media (max-width: 1800px) {
    .price-catalog {
        width: 15vw;
    }
    .pdfDownloadLink {
        display: flex;
        flex-basis: 11.55vw;
    }
    .popUpHeader {
        font-size: 3.1em;
    }
}
@media (max-width: 1793px) {
    .calculateTheCostButton {
        flex-basis: 13.396vw;
    }
    .backGroundCalculateTheCost {
        flex-basis: 21.3612vw;
    }
}
@media (max-width: 1789px) {
    .mainHeader {
    width: 33.5937vw;
    }
}
@media (max-width: 1783px) {
    .leftSidebar li {
        width: 8.9854vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 23.8vw;
    }
    .popUpHeaderDescription {
        width: 25.8vw;
    }
    .popUpHeaderTypeTelefon {
        font-size: 2em;
        width: 18.6vw;
    }
}
@media (max-width: 1779px) {
    .calculateTheCostButton {
        flex-basis: 13.496vw;
    }
}
@media (max-width: 1769px) {
    .licenseAgreementDownloadLink {
        width: 29vw;
    }
}
@media (max-width: 1766px) {
    .calculateTheCostButton {
        flex-basis: 13.596vw;
    }
}
@media (max-width: 1764px) {
    .leftSidebar li {
        width: 9.0854vw;
    }
}
@media (max-width: 1753px) {
    .calculateTheCostButton {
        flex-basis: 13.696vw;
    }
}
@media (max-width: 1744px) {
    .leftSidebar li {
        width: 9.1854vw;
    }
    .popUpHeader {
        font-size: 3em;
    }
    .popUpHeaderDescription {
        font-size: 1.7em;
    }
    .popUpHeaderGrafikRaboti {
        font-size: 1.7em;
        width: 20.8vw;
    }
}
@media (max-width: 1741px) {
    .calculateTheCostButton {
        flex-basis: 13.796vw;
    }
}
@media (max-width: 1736px) {
    .mainHeader {
        width: 34.5937vw;
    }
}
@media (max-width: 1728px) {
    .calculateTheCostButton {
        flex-basis: 13.896vw;
    }
    .backGroundCalculateTheCost {
        flex-basis: 22.3612vw;
    }
    .callMePopUp {
        flex-basis: 14.0312vw;
    }
}
@media (max-width: 1727px) {
    .checkInForLookingHousesButton {
        flex-basis: 11.8029vw;
    }
}
@media (max-width: 1725px) {
    .leftSidebar li {
        width: 9.3854vw;
    }
    .licenseAgreementBlock {
        font-size: 1.3em;
        height: 5vh;
    }
    .licenseAgreementDownloadLink {
        width: 23vw;
    }
}
@media (max-width: 1716px) {
    .mainHeaderDescription {
        width: 18.9229vw;
    }
    .calculateTheCostButton {
        flex-basis: 14.096vw;
    }
    .mainHeaderRounds {
        width: 23.1421vw;
    }
    .popUpHeaderTypeTelefon {
        width: 20.2vw;
    }
}
@media (max-width: 1712px) {
    .checkInForLookingHousesButton {
        flex-basis: 12.0029vw;
    }
    .mainHeaderDescription {
        width: 19.9229vw;
    }
    #user_phone {
        width: 20vw;
    }
}
@media (max-width: 1696px) {
    descriptionContainer {
        flex-basis: 11.877vw;
    }
    .hat {
        justify-content: space-between;
    }
}
@media (max-width: 1691px) {
    .calculateTheCostButton {
        flex-basis: 14.296vw;
    }
    .leftSidebar li {
        width: 9.5854vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 12.2029vw;
    }
    .mainHeader {
        width: 35.5937vw;
    }
    .mainHeaderRounds {
        width: 24.1421vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 21.4vw;
    }
}
@media (max-width: 1687px) {
    .popUpHeader {
        font-size: 2.9em;
    }
}
@media (max-width: 1667px) {
    .calculateTheCostButton {
        flex-basis: 14.57vw;
    }
    .leftSidebar li {
        width: 9.9854vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 12.4029vw;
    }
    .mainHeader {
        width: 36.5937vw;
    }
}
@media (max-width: 1645px) {
    .price-catalog {
        width: 16vw;
    }
    .pdfDownloadLink {
        display: flex;
        flex-basis: 12.55vw;
    }
    .background_btn_submit {
        justify-content: space-evenly;
    }
    .b-popup-content {
        height: 66.1851vh;
    }
}
@media (max-width: 1643px) {
    .popUpHeaderGrafikRaboti {
        width: 22vw;
    }
    .btn_submit {
        flex-basis: 13.0312vw;
        margin-right: -13.0312vw;
    }
}
@media (max-width: 1636px) {
    .backGroundCalculateTheCost {
        flex-basis: 23.3612vw;
    }
    .calculateTheCostButton {
        flex-basis: 14.77vw;
    }
    .backGroundCheckInForLookingHouses {
        flex-basis: 20.1479vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 12.8vw;
    }
    .descriptionContainer {
        flex-basis: 12.677vw;
    }
    .mainHeaderDescription {
        width: 20.9229vw;
    }
}
@media (max-width: 1631px) {
    .popUpHeader {
        font-size: 2.8em;
    }
}
@media (max-width: 1629px) {
    .phone_form {
        flex-basis: 15vw;
    }
    .scopes {
        display: flex;
        flex-direction: column;
        flex-basis: 59.1851vh;
    }
    .b-popup-content {
        height: 62.1851vh;
    }
}
@media (max-width: 1620px) {
    #user_phone {
        width: 21vw;
    }
}
@media (max-width: 1613px) {
    .calculateTheCostButton {
        flex-basis: 14.97vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 13vw;
    }
    .mainHeader {
        width: 37.5937vw;
    }
    .leftSidebar li {
        width: 10.1854vw;
    }
    .answerSomeQuestions {
        flex-basis: 12.387vw;
    }
    .background_btn_submit {
        width: 19.5416vw;
    }
}
@media (max-width: 1598px) {
    .popUpHeaderGrafikRaboti {
        width: 22.6vw;
    }
}
@media (max-width: 1596px) {
    .licenseAgreementDownloadLink {
        width: 24vw;
    }
}
@media (max-width: 1593px) {
    .calculateTheCostButton {
        flex-basis: 15.47vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 13.2vw;
    }
    .mainHeaderDescription {
        width: 22.9229vw;
    }
    .descriptionContainer {
        flex-basis: 11.677vw;
    }
    .mainHeaderRounds {
        width: 25.1421vw;
    }
    .leftSidebar li {
        width: 10.3854vw;
    }
    .mainHeader {
        width: 38.5937vw;
    }
}
@media (max-width: 1589px) {
    .callMePopUp {
        flex-basis: 15.0312vw;
    }
    .btn_submit {
        flex-basis: 15.0312vw;
        margin-right: -15.0312vw;
    }
}
@media (max-width: 1578px) {
    .popUpHeaderTypeTelefon {
        width: 20.8vw;
    }
}
@media (max-width: 1575px) {
    .popUpHeader {
        font-size: 2.7em;
    }
}
@media (max-width: 1570px) {
    .answerSomeQuestions {
        flex-basis: 12.6vw;
    }
    .answerOnlineBlock {
        width: 11vw;
    }
    .calculateTheCostButton {
        flex-basis: 15.67vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 13.4vw;
    }
    .leftSidebar li {
        width: 10.5854vw;
    }
}
@media (max-width: 1556px) {
    .popUpHeaderGrafikRaboti {
        width: 23.2vw;
    }
}
@media (max-width: 1551px) {
    .descriptionContainer {
        flex-basis: 13.677vw;
    }
}

@media (max-width: 1544px) {
    .answerSomeQuestions {
        flex-basis: 12.8vw;
    }
    .answerOnlineBlock {
        width: 12vw;
    }
    .calculateTheCostButton {
        flex-basis: 15.87vw;
    }
    .descriptionContainer {
        flex-basis: 11.877vw;
    }
}
@media (max-width: 1541px) {
    #user_phone {
        width: 22vw;
    }
}
@media (max-width: 1533px) {
    .popUpHeaderTypeTelefon {
        width: 21.4vw;
    }
}
@media (max-width: 1529px) {
    .licenseAgreementDownloadLink {
        width: 25vw;
    }
}
@media (max-width: 1520px) {
    .answerSomeQuestions {
        flex-basis: 13.1vw;
    }
    .mainHeader {
        width: 39.5937vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 13.6vw;
    }
    .calculateTheCostButton {
        flex-basis: 16.07vw;
    }
    .descriptionContainer {
        flex-basis: 12.077vw;
    }
    .phone_form {
        flex-basis: 16vw;
    }
}
@media (max-width: 1518px) {
    .popUpHeader {
        font-size: 2.6em;
    }
    .popUpHeaderDescription {
        font-size: 1.4em;
    }
    .popUpHeaderGrafikRaboti {
        font-size: 1.4em;
        width: 20.2vw;
    }
    .popUpHeaderTypeTelefon {
        font-size: 1.7em;
        width: 18.4vw;
    }
    .scopes {
        display: flex;
        flex-direction: column;
        flex-basis: 55.1851vh;
    }
    .b-popup-content {
        height: 58.1851vh;
    }
}
@media (max-width: 1513px) {
    .price-catalog {
        width: 17vw;
    }
    .pdfDownloadLink {
        flex-basis: 14.677vw;
    }
    .container {
        max-width: 83.3645vw;
    }
}
@media (max-width: 1499px) {
    .descriptionContainer {
        flex-basis: 13.077vw;
    }
    .leftSidebar li {
        width: 10.7854vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 13.8vw;
    }
    .calculateTheCostButton {
        flex-basis: 16.27vw;
    }
    .answerSomeQuestions {
        flex-basis: 13.3vw;
    }
}
@media (max-width: 1483px) {
    .callMePopUp {
        font-size: 2em;
    }
    .btn_submit {
        flex-basis: 13.0312vw;
        margin-right: -14.0312vw;
    }
    .background_btn_submit {
        width: 20.5416vw;
    }
}
@media (max-width: 1478px) {
    #user_phone {
        width: 23vw;
    }
    .popUpHeaderTypeTelefon {
        width: 19vw;
    }
}
@media (max-width: 1473px) {
    .mainHeader {
        font-size: 4em;
    }
    .leftSidebar li {
        width: 11.9854vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 14vw;
    }
    .calculateTheCostButton {
        flex-basis: 16.47vw;
    }
    .answerSomeQuestions {
        flex-basis: 13.5vw;
    }
    .mainHeaderDescription {
        width: 22.9229vw;
    }
    .answerSomeQuestionsContainer {
        width: 19vw;
    }
}
@media (max-width: 1468px) {
    .licenseAgreementDownloadLink {
        width: 26vw;
    }
}
@media (max-width: 1462px) {
    #user_phone {
        font-size: 2.8em;
    }
    .popUpHeader {
        font-size: 2.5em;
    }
}
@media (max-width: 1447px) {
    .calculateTheCostButton {
    flex-basis: 16.67vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 14.2vw;
    }
    .container {
        max-width: 86.3645vw;
    }
    .price-catalog {
        width: 18vw;
    }
    .answerSomeQuestions {
        flex-basis: 13.7vw;
    }
}
@media (max-width: 1439px) {
    .mainHeaderRounds {
        width: 26.1421vw;
    }
    .calculateTheCostButton {
        flex-basis: 16.87vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 14.4vw;
    }
    .answerSomeQuestions {
        flex-basis: 13.9vw;
    }
    .answerOnlineBlock {
        justify-content: space-between;
    }
}
@media (max-width: 1433px) {
    .popUpHeaderGrafikRaboti {
        width: 20.8vw;
    }
}
@media (max-width: 1426px) {
    .popUpHeaderTypeTelefon {
        width: 20vw;
    }
}
@media (max-width: 1413px) {
    .calculateTheCostButton {
        flex-basis: 17.07vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 14.4vw;
    }
    .answerSomeQuestions {
        flex-basis: 13.9vw;
    }
    .mainHeader {
        font-size: 3.9em;
    }
    .mainHeaderDescription {
        width: 23.9229vw;
    }
    .mainHeaderRounds {
        width: 27.1421vw;
    }
    .licenseAgreementBlock {
        font-size: 1em;
    }
    .licenseAgreementDownloadLink {
        width: 27vw;
    }
}
@media (max-width: 1406px) {
    .popUpHeader {
        width: 27.8vw;
    }
}
@media (max-width: 1404px) {
    .descriptionContainer {
        flex-basis: 14.077vw;
    }
    .calculateTheCostButton {
        flex-basis: 17.27vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 14.6vw;
    }
    .answerSomeQuestions {
        flex-basis: 14.1vw;
    }
    .mainHeader {
        font-size: 3.8em;
    }
    .mainHeaderRounds {
        width: 28.1421vw;
    }
}
@media (max-width: 1392px) {
    .popUpHeaderGrafikRaboti {
        width: 21.8vw;
    }
}
@media (max-width: 1386px) {
    .popUpHeader {
        width: 28.4vw;
    }
}
@media (max-width: 1384px) {
    .calculateTheCostButton {
        flex-basis: 17.87vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 15.2vw;
    }
    .answerSomeQuestions {
        flex-basis: 14.6vw;
    }
    .mainHeader {
        font-size: 3.7em;
    }
    .mainHeaderDescription {
         width: 24.9229vw;
    }
    .answerSomeQuestionsContainer {
        width: 21vw;
    }
}
@media (max-width: 1359px) {
    DownloadLink {
        width: 28vw;
    }
    .popUpHeader {
        width: 29vw;
    }
    .popUpHeaderTypeTelefon {
        width: 21vw;
    }
    .licenseAgreementDownloadLink {
        width: 28vw;
    }
}
@media (max-width: 1349px) {
    .callMePopUp {
        font-size: 1.9em;
    }
    .btn_submit {
        flex-basis: 14.0312vw;
        margin-right: -15.0312vw;
    }
}
@media (max-width: 1333px) {
    .calculateTheCostButton {
        flex-basis: 18.27vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 15.6vw;
    }
    .answerSomeQuestions {
        flex-basis: 15vw;
    }
    .container {
        max-width: none;
        align-items: center;
    }
    .mainContentWrapper {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }
    .mainHeaderRounds {
        width: 28.1421vw;
    }
    .backGroundCalculateTheCost {
        flex-basis: 24.3612vw;
    }
    .backGroundCheckInForLookingHouses {
        flex-basis: 21.1479vw;
    }
}
@media (max-width: 1329px) {
    .calculateTheCostButton {
        flex-basis: 18.27vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 15.6vw;
    }
    .answerSomeQuestions {
        flex-basis: 15vw;
    }
    .container {
        max-width: none;
        align-items: center;
    }
    .mainContentWrapper {
        display: flex;
        justify-content: space-between;
        width: 80vw;
    }
    .mainHeaderRounds {
        width: 28.1421vw;
    }
    .backGroundCalculateTheCost {
        flex-basis: 24.3612vw;
    }
    .backGroundCheckInForLookingHouses {
        flex-basis: 21.1479vw;
    }
    .main-content {
        justify-content: space-evenly;
    }
    .popUpHeader {
        width: 29.5vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 22.8vw;
    }
}
@media (max-width: 1322px) {
    .mainContentWrapper {
        width: 84vw;
    }
    .hat {
        width: 87vw;
    }
    .menu-main {
        width: 87vw;
    }
    .leftSidebar li {
        width: 12.9854vw;
    }
    #user_phone {
        font-size: 2.7em;
    }
}
@media (max-width: 1311px) {
    .licenseAgreementBlock {
        font-size: 0.8em;
    }
    .licenseAgreementDownloadLink {
        width: 29vw;
    }
    .agreement {
        transform: scale(1.5);
    }
    .licenseAgreementBlock {
        font-size: 1.3em;
        height: 3.1vh;
    }
}
@media (max-width: 1305px) {
    .popUpHeader {
        width: 30.3vw;
    }
}
@media (max-width: 1305px) {
    .answerSomeQuestionsContainer {
        width: 24vw;
    }
    .answerSomeQuestions {
        flex-basis: 16vw;
    }
    .backGroundCalculateTheCost {
        flex-basis: 25.3612vw;
    }
    .calculateTheCostButton {
        flex-basis: 21.27vw;
    }
    .backGroundCheckInForLookingHouses {
        flex-basis: 23.1479vw;
    }
    .checkInForLookingHousesButton {
        flex-basis: 18.6vw;
    }
    .mainHeader {
        width: 40.5937vw;
    }
    .mainHeaderDescription {
        width: 25.9229vw;
    }
    .mainHeaderRounds {
        width: 30.1421vw;
    }
    .answerOnlineBlock {
        width: 13vw;
    }
    .iconDisk {
        flex-basis: 3.8838vw;
        height: 3.8838vw;
    }
    .messengers>li.viber img, .messengers>li.whatsup img  {
        height: 2.0046vw;
    }
    .messengers>li.telegram img  {
        height: 1.4135vw;
    }
}
@media (max-width: 1291px) {
    .popUpHeaderTypeTelefon {
        width: 22vw;
    }
}
@media (max-width: 1286px) {
    .descriptionContainer {
        flex-basis: 15.077vw;
    }
    .mainHeader {
        width: 42.5937vw;
    }
    .mainContentWrapper {
        width: 87vw;
    }
    .mainHeaderDescription {
        width: 26.9229vw;
    }
    .answerSomeQuestions {
        flex-basis: 17vw;
    }
    .leftSidebar li {
        width: 13.9854vw;
    }
}
@media (max-width: 1272px) {
    .popUpHeader {
        font-size: 2.4em;
    }
    #user_phone {
        font-size: 2.5em;
    }
    .callMePopUp {
        font-size: 1.8em;
    }
    .phone_form {
        flex-basis: 18vw;
    }
    .licenseAgreementBlock {
        font-size: 0.6em;
        height: 2.8vh;
    }
    .scopes {
        flex-basis: 51.1851vh;
    }
    .b-popup-content {
        height: 54.1851vh;
    }
    .popUpHeaderGrafikRaboti {
        width: 23.6vw;
    }
}
@media (max-width: 1265px) {
    .licenseAgreementDownloadLink {
        width: 21vw;
    }
    .agreementFlex {
        width: 18.8vw;
    }
}
@media (max-width: 1232px) {
    .popUpHeaderTypeTelefon {
        width: 23vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 24.4vw;
    }
}
@media (max-width: 1221px) {
    .popUpHeader {
        font-size: 2.3em;
    }
}
@media (max-width: 1217px) {
    .popUpHeaderDescription {
        font-size: 1.2em;
    }
}
@media (max-width: 1213px) {
    .callMePopUp {
        font-size: 1.7em;
    }
}
@media (max-width: 1211px) {
    .mainContentWrapper {
        width: 89vw;
    }
    .mainHeader {
        width: 43.5937vw;
    }
    .mainHeaderRounds {
        width: 32.1421vw;
    }
    .hat {
        width: 90vw;
    }
    .descriptionContainer {
        flex-basis: 16.077vw;
    }
    .price-catalog {
        width: 20vw;
    }
    .pdfDownloadLink {
        flex-basis: 16.677vw;
    }
    .messengers {
        width: 14vw;
        justify-content: space-between;
    }
    .menu-main {
        width: 90vw;
    }
    .mainHeaderDescription {
        width: 27.9229vw;
    }
    .answerOnlineBlock {
        width: 14vw;
    }
    .calculateTheCostButton {
        align-items: center;
    }
    .checkInForLookingHousesButton {
        align-items: center;
    }
}
@media (max-width: 1191px) {
    #user_phone {
        font-size: 2.3em;
    }
}
@media (max-width: 1186px) {
    .popUpHeaderGrafikRaboti {
        width: 25vw;
    }
}
@media (max-width: 1183px) {
    .mainContentWrapper {
        width: 91vw;
    }
    .mainHeader {
        width: 44.5937vw;
    }
    .container {
        align-items: start;
    }
    .menu-main {
        width: 99vw;
    }
    .hat {
        width: 99vw;
    }
    .mainContentWrapper {
        width: 99vw;
    }
}
@media (max-width: 1178px) {
    .popUpHeaderTypeTelefon {
        width: 24vw;
    }
    .popUpHeader {
        font-size: 2.2em;
    }
}
@media (max-width: 1159px) {
    .popUpHeaderDescription {
        width: 26.4vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 25.6vw;
    }
}
@media (max-width: 1157px) {
    .mainHeader {
        width: 45.5937vw;
    }
    .mainHeaderDescription {
        width: 28.9229vw;
    }
    .answerSomeQuestions {
        flex-basis: 18vw;
    }
    .backGroundCalculateTheCost {
        flex-basis: 27.3612vw;
    }
    .backGroundCheckInForLookingHouses {
        flex-basis: 25.1479vw;
    }
    .price-catalog {
        width: 22vw;
    }
}
@media (max-width: 1139px) {
    .pdfDownloadLink {
        flex-basis: 17.2vw;
    }
    .leftSidebar li {
        width: 14.9854vw;
    }
    .mainHeader {
        width: 46.5937vw;
    }
    .descriptionContainer {
        flex-basis: 17.077vw;
    }
    .calculateTheCostButton {
        flex-basis: 22.27vw;
    }
    .mainHeaderDescription {
        width: 29.9229vw;
    }
    .mainHeaderRounds {
        width: 34.1421vw;
    }
}
@media (max-width: 1133px) {
    .popUpHeaderDescription {
        width: 27vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 26.2vw;
    }
    .popUpHeaderTypeTelefon {
        width: 25vw;
    }
    .callMePopUp {
        font-size: 1.6em;
    }
}
@media (max-width: 1119px) {
    .popUpHeader {
        font-size: 2.1em;
    }
}
@media (max-width: 1107px) {
    .mainHeader {
        width: 47.5937vw;
    }
    .main-content {
        justify-content: space-between;
    }
    .price-catalog {
        width: 23vw;
    }
    .pdfDownloadLink {
        flex-basis: 18.2vw;
    }
    .answerOnlineBlock {
        width: 15vw;
    }
    .popUpHeaderDescription {
        width: 27.6vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 26.8vw;
    }
}
@media (max-width: 1102px) {
    .phone_form {
        justify-content: space-evenly;
    }
    #user_phone {
        font-size: 2.2em;
    }
}
@media (max-width: 1086px) {
    .checkInForLookingHousesButton {
        flex-basis: 20.6vw;
    }
    .main-content {
        height: 55vh;
    }
    .mainHeader {
        width: 48.5937vw;
    }
    .mainHeaderDescription {
        width: 30.9229vw;
    }
    .menu-main li {
        font-size: 0.7em;
    }
    .main-content {
        height: 55vh;
    }
    .leftSidebar {
        justify-content: space-between;
        height: 67.0092vh;
    }
}
@media (max-width: 1084px) {
    .popUpHeaderTypeTelefon {
        width: 26vw;
    }
    .popUpHeaderDescription {
        width: 28.2vw;
    }
    .popUpHeaderGrafikRaboti {
        width: 27.6vw;
    }
    .callMePopUp {
        font-size: 1.5em;
    }
    .answerSomeQuestions {
        flex-basis: 19vw;
    }
}
@media (max-width: 1070px) {
    .calculateTheCostButton {
        flex-basis: 22.87vw;
    }
}
@media (max-width: 1068px) {
    .popUpHeader {
        font-size: 2em;
    }
}
@media (max-width: 1061px) {
    .popUpHeaderDescription {
        width: 28.8vw;
    }
    #user_phone {
        font-size: 2.1em;
    }
    .mainHeader {
        width: 49.5937vw;
    }
    .descriptionContainer {
        flex-basis: 17.577vw;
    }
    .leftSidebar li {
        width: 15.9854vw;
    }
    .container {
        max-width: 1019px;
    }
}
@media (max-width: 1049px) {
    .popUpHeaderGrafikRaboti {
        width: 28.2vw;
    }
    .pdfDownloadLink {
        flex-basis: 18.8vw;
    }
    ption {
        width: 31.9229vw;
    }
    .mainHeaderRounds {
        width: 35.1421vw;
    }
}
@media (max-width: 1042px) {
    .popUpHeaderTypeTelefon {
        width: 28vw;
    }
    .calculateTheCostButton {
        flex-basis: 23.47vw;
    }
    .mainHeader {
        width: 50.5937vw;
    }
}
@media (max-width: 1038px) {
    .popUpHeaderDescription {
        width: 29.6vw;
    }
}
@media (max-width: 1032px) {
    .mainContentWrapper {
        width: 101vw;
    }
    .descriptionContainer {
        flex-basis: 18.3vw;
    }
    .mainHeaderRounds {
        width: 36.1421vw;
    }
}
@media (max-width: 1027px) {
    .popUpHeaderGrafikRaboti {
        width: 28.8vw;
    }
}
@media (orientation: portrait) and (max-width: 768px) {
    body.lock {
        overflow: hidden;
    }
    .menu-main, .hat {
        display: none;
    }
    .logoImage {
        max-width: 24.511vw;
        z-index: 2;
    }
    .telefonBlock {
        z-index: 2;
    }
    .wrapper {
        max-width: 100vw;
        min-height: 100vh;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container {
        max-width: none;
    }
    header {
        position: fixed;
        width: 97vw;
        height: 10.5vh;
        max-width: 100vw;
        top: 10px;
        left: 10px;
        right: 10px;
        z-index: 50;
    }
    .header__body__mobile {
        display: flex;
        justify-content: space-between;
        height: 80px;
        align-items: center;
        position: relative;
        /*z-index: 2;*/
    }
    .header__burger {
        display: block;
        position: relative;
        width: 48px;
        height: 36.024px;
        z-index: 3;
    }
    .header__burger:before, .header__burger:after {
        content: '';
        background: #1C1C1C;
        position: absolute;
        width: 100%;
        height: 5.112px;
        left: 0;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    }
    .header__burger:before {
        top: 0;
    }
    .header__burger:after {
        bottom: 0;
    }
    .header__burger span {
        position: absolute;
        background: #1C1C1C;
        left: 0;
        width: 100%;
        height: 5.112px;
        top: 15px;
        transition: all 0.3s ease-in-out 0s;
    }
    .header__burger.active:before {
        transform: rotate(45deg);
        top: 15px;
    }
    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 15px;
    }
    .header__burger.active span {
        transform: scale(0);
    }
    .header__burger.activate {
        pointer-events: none;
    }
    .Header__menu {
        top: -100%;
        position: fixed;
        overflow: auto;
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-out 0s;
        background: #EDF2F5;
    }
    .Header__menu.active {
        top: 0vw;
    }
    .Header__list {
        padding-top: 8.68vh;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: flex;
        position: relative;
        z-index: 2;
        list-style: none;
        font-size: 1.3054vw;
        color: #1C1C1C;
    }
    .Header__list li {
        font-size: 3.5em;
        font-weight: 600;
    }
    .homeImage {
        width: 6.875vw;
        height: 5.390625vh;
    }
    li.descriptionContainer {
        font-size: 2.25em;
        width: 71vw;
    }
    .descriptionContainer {
        width: 63.155vw;
        text-align: center;
    }
    .pdfDownloadLink {
        border-bottom: 4.8px dotted #12C868;
        flex-basis: 52vw;
        font-size: 0.953971em;
        font-weight: 600;
    }
    .pdfFile {
        font-size: 0.7542em;
    }
    .price-catalog {
        width: 83vw;
        justify-content: space-evenly;
    }
    .answerOnlineBlock {
        width: 27vw;
        align-self: center;
    }
    .answerOnline {
        font-size: 0.5485em;
        width: 30vw;
        flex-basis: 12.7vh;
    }
    .answerInMessengers {
        justify-content: space-between;
        flex-basis: 20vw;
    }
    .iconDisk {
        flex-basis: 14vw;
        height: 14vw;
        border-radius: 50px;
    }
    .messengers {
        width: 55vw;
    }
    .smallDisk {
        flex-basis: 1.0589vw;
        height: 1.0589vw;
    }
    .messengers > li.viber img, .messengers > li.whatsup img {
        height: 6.9vw;
    }
    .messengers > li.telegram img {
        height: 5vw;
    }
    .leftSidebar, .main-content {
        display: none;
    }
    .mainContentWrapper {
        padding-top: 19.207vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        height: 87.7929vh;
    }
    .main__content__body__mobile__content {
        flex-basis: 55vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .main__content__body__mobile {
        display: flex;
        flex-direction: column;
        height: 61vh;
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
        opacity: 1;
        transition: all 0.3s ease-in 0s;
    }
    .main__content__body__mobile.active {
        opacity: 0;
    }
    .grafikRaboti {
        font-size: 1.4em;
    }
    .telefon {
        font-size: 2.4em;
    }
    .callMe {
        font-size: 2em;
        border-bottom: 4.8px dotted #12C868;
    }
    .mainHeader {
        text-align: center;
        width: 71.3828vw;
        font-size: 3.6em;
        line-height: 1.67;
        flex-basis: 14.5vh;
    }
    .mainHeaderRounds {
        width: 62vw;
    }
    .greenRound100, .greenRound75, .greenRound50, .greenRound25 {
        flex-basis: 0.91875em;
        height: 0.91875em;
        border-width: 2px;
    }
    .mainHeaderDescription {
        width: 45vw;
        height: 3.6111vh;
        font-size: 2.6em;
    }
    .fingerPrint {
        display: flex;
        height: 3.8333vh;
        width: 6.875vw;
    }
    .answerSomeQuestions {
        font-size: 2.4vw;
        flex-basis: 6vh;
        width: 57vw;
    }
    .backGroundCalculateTheCost {
        flex-basis: 12.2592vw;
        width: 67.3828vw;
        justify-content: space-evenly;
    }
    .backGroundCheckInForLookingHouses {
        flex-basis: 12.2592vw;
        width: 67.3828vw;
        justify-content: space-evenly;
    }
    .calculateTheCostButton {
        display: flex;
        flex-basis: 50.69375vw;
        font-size: 2em;
        height: 7.074vh;
    }
    .arrowTopRight {
        flex-basis: 4.5vw;
        height: 4.5vw;
    }
    .checkInForLookingHousesButton {
        display: flex;
        flex-basis: 48.7029vw;
        font-size: 2em;
    }
    .RoundCross {
        background: #F38120;
        border-radius: 50px;
        width: 65px;
        height: 65px;
        position: relative;
    }
    .RoundCross:before, .RoundCross:after {
        content: '';
        background: #ffffff;
        position: absolute;
        width: 50%;
        left: 50%;
        top: 50%;
        height: 8px;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    }
    .RoundCross:after {
        content: '';
        background: #ffffff;
        position: absolute;
        height: 50%;
        width: 8px;
        transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
        transform: translateX(-50%) translateY(-30%);
    }
    .RoundCross:before {
        transform: translateX(-50%) translateY(-50%);
    }
    .leftSidebarMobile > .RoundCross {
        align-self: start;
        margin-top: 4vh;
    }
    .RoundCross.activate:before {
        top: 29px;
        left: 17px;
        transform: rotate(-300deg);
    }
    .RoundCross.activate:after {
        top: 17px;
        left: 29px;
        transform: rotate(30deg);
    }
    .leftSidebarMobile {
        bottom: -36%;
        position: fixed;
        overflow: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 57vw;
        height: 47.1666vh;
        border-radius: 25px;
        transition: all 1.5s cubic-bezier(.1, .9, .9, .1) 0s;
        background: #ffffff;
    }
    .leftSidebarMobileList {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
        flex-basis: 17vh;
        font-size: 2em;
        height: 39.1666vh;
    }
    .leftSidebarMobile.activate {
        background-color: #ffffff;
        bottom: 0%;
        transition: all 0.8s cubic-bezier(.1, .9, .9, .1) 0s;
    }
    .b-popup-content {
        flex-basis: 57.6458vw;
        height: 52.1851vh;
    }
    .popUpHeader {
        width: 53vw;
    }
    .popUpHeaderDescription {
        width: 46vw;
        font-size: 1.8333em;
    }
    .popUpHeaderGrafikRaboti {
        font-size: 1.63em;
        width: 46vw;
    }
    .popUpHeaderTypeTelefon {
        font-size: 1.6333em;
        width: 38vw;
    }
    .phone_form {
        flex-basis: 36vw
    }
    .user_phone {
        font-size: 1.6333em;
    }
    #user_phone {
        padding: 8px 0px 8px 12px;
    }
    .background_btn_submit {
        flex-basis: 6.8703vh;
        width: 37.5416vw;
    }
    .callMePopUp {
        display: flex;
        flex-basis: 24.0312vw;
    }
    .btn_submit {
        flex-basis: 18.0312vw;
        margin-right: -18.0312vw;
    }
    .agreementFlex {
        width: 54vw;
    }
    .licenseAgreementBlock {
        flex-basis: 43.6145vw;
    }
    .licenseAgreementDownloadLink {
        display: flex;
        width: 37vw;
    }
    .agreement {
        transform: scale(2.8);
    }
}

@media (orientation: portrait) and (max-width: 707px) {
    .calculateTheCostButton {
        font-size: 1.8em;
    }
    .checkInForLookingHousesButton {
        font-size: 1.8em;
    }
}

@media (max-width: 600px) {
    .pdfDownloadLink {
        flex-basis: 50vw;/*
        font-size: 1.75em;*/
    }
}
@media (max-width: 500px) {
    .grafikRaboti {
        font-size: 5px;
        line-height: 1.5625;
    }
    .telefon {
        font-size: 19px;
        line-height: 1.5339;
    }
    .callMe {
        font-size: 10px;
        line-height: 1.5625;
    }

    .Header__list li {
        font-size: 1.9166em;
    }
    .pdfDownloadLink {
        flex-basis: 48vw;
        font-size: 1.4166em;
    }
    .answerOnline {
        font-size: 18px;
        flex-basis: 16vh;
    }
    .answerInMessengers {
        flex-basis: 25vw;
    }
    .iconDisk {
        flex-basis: 12vw;
        height: 12vw;
        border-radius: 50px;
    }
    .messengers>li.viber img, .messengers>li.whatsup img {
        height: 5.9vw;
    }
    .messengers>li.telegram img {
        height: 4vw;
    }

}
@media (max-width: 320px) {

}