* {margin: 0;
padding: 0;}

@font-face {
    font-family: Montserrat;
    src: url('/fonts/montserrat-regular.eot');
    src: url('/fonts/montserrat-regular.ttf') format('truetype'),
    url('/fonts/montserrat-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Montserrat, sans-serif;
    background: #fff url(images/BG.png) no-repeat;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 0;
}
.block {}
.wrapper {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*background: green;*/
}
.container {
    max-width: 1543px;
    flex-basis: 80.3645vw;
    display: flex;
    flex-direction: column;
    padding: 0 0.9375vh;
    /*background: gold;*/
}
header {
    max-width: 1543px;
    display: flex;
    flex-direction: column;
    flex-grow: 0.6;
    justify-content: space-evenly;
    align-items: stretch;
    /*background: red;*/
}
.mainContentWrapper {
    width: 55vw;
    display: flex;
    /*background: aquamarine;*/
    justify-content: space-around;
}

.menu-main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    /*background: #fff;*/
    font-size: 1.1666em;
    line-height: 1.4;
    text-align: center;
    /*margin: 4.074vh 10.5208vw 6.1111vh 9.1145vw;*/
    /*padding: 0;*/
    list-style-type: none;
}
.menu-main li {
    display: flex;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.1666em;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
   /* padding-bottom: 20px;*/
    /*margin: 0 1.55vw 0 1.55vw;*/
    transition: color .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-main .current, .menu-main li:hover{color: #feb386; text-decoration: underline}
.menu-main li:before,
.menu-main li:after {
    content: "";
    height: 4px;
    top: auto;
    right: 50%;
    bottom: -5px;
    left: 50%;
    /*background: #a400fa;*/
    transition: .8s;
}
.menu-main li:hover:before, .menu-main .current:before {left: 0;}
.menu-main li:hover:after, .menu-main .current:after {right: 0;}
/*
@media (max-width: 550px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: flex;}
    .menu-main li:after {content: none;}
    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}*/
.hat {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* width: 81.7708vw;
    height: 13.7037vh;*/
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.4;
    text-align: center;
    /*margin: 4.074vh 10.5208vw 6.1111vh 9.1145vw;*/
    /* padding: 0;*/
    list-style-type: none;
}
.hat li {
    display: flex;
}
.descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 10.677vw;
}
.description {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    line-height: 1.67;
}
.professional {
    display: flex;
}
.price-catalog {
    /*width: 10.6771vw;
    height: 4.0601vh;*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pdfFile {
    display: flex;
    flex-basis: 2.2838vw;
    border-radius: 30px;
    /* background-color: #FFD700FF;*/
    text-align: center;
    position: relative;
    color: #12C868;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.9166em;
    line-height: 1.1818;
}
.pdfDownloadLink {
    display: flex;
    flex-basis: 8.28125vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25;
    color: #1C1C1C;
    text-decoration: none;
    border-bottom: 1px dotted #12C868;
}
.logoImage {
    display: flex;
    flex-basis: 9.7916vw;
}
.answerInMessengers {
    /*width: 8.3255vw;
    height: 6.7981vh;*/
    display: flex;
    flex-direction: column;
    flex-basis: 10vw;
    justify-content: space-evenly;
}
.answerOnlineBlock {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.smallDisk {
    display: flex;
    flex-basis: 0.38vw;
    height: 0.38vw;
    border-radius: 25px;
    background: #12C868;
}
.answerOnline {
    display: flex;
    font-size: 1em;
    line-height: 1.25;
}
.messengers {
    display: flex;
    justify-content: space-evenly;
}
.messengers img {
  /*  top: 50%;
    left: 50%;*/
}
.iconDisk {
    display: flex;
    flex-basis: 2.2838vw;
    justify-content: center;
    align-items: center;
    height: 2.2838vw;
    border-radius: 30px;
   /* background-color: #FFD700FF;*/
    text-align: center;
    position: relative;
}
.viber {
    background-color: #976FCC;
}
.whatsup {
    background-color: #12C868;
}
.telegram {
    background-color: #05A0EB;
}
.messengers>li.viber img {
    display: flex;
    flex-basis: 1.0046vw;
    height: 1.0046vw;
}
.messengers>li.whatsup img {
    display: flex;
    flex-basis: 1.038vw;
    height: 1.038vw;
}
.messengers>li.telegram img {
    display: flex;
    flex-basis: 0.9135vw;
    height: 0.9135vw;
}
.telefonBlock{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.grafikRaboti {
    display: flex;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25;
}
.telefon {
    display: flex;
    font-weight: 600;
    font-size: 1.8333em;
    line-height: 1.2272;
    text-align: center;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #1C1C1C;
}
.callMe {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.25;
    text-align: center;
    color: #12C868;
    text-decoration: none;
    border-bottom: 1px dotted #12C868;
    display: block
    top: 21vh;
    left: 77.1vw;
}
.beauty-rotate {
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.beauty-rotate:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.b-popup{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    justify-content: center;
    z-index: 3;
    width:100%;
    background-color: rgba(255, 122, 49, 0.65);
    position:fixed;
}
.b-popup-content{
    display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-basis: 28.6458vw;
    height: 60.1851vh;

    padding: 1.8518vh 1.0416vw 10px 0.9259vh;
    background-color: #c5c5c5;
    box-shadow: 0px 0px 10px #000;
    border-radius: 35px;
    text-align: center;
}
.scopes {
    display: flex;
    flex-direction: column;
    flex-basis: 60.1851vh;
    justify-content: space-between;
    align-items: center;
    width: 18.5416vw;
    /* height: 10vh; */
 }
.closingCrossLink {
    display: flex;
    align-self: end;
    margin: 0vh -3.9vw -3vh 0vw;
    opacity: 0;
    width: 1.0416vw;
    height: 1.0416vw;
    text-decoration: none;
    color: #808080FF;
}
.closingCross {
    display: flex;
    align-self: end;
    margin: -4vh -4vw 0vh 0vw;
    width: 1.0416vw;
    height: 1.0416vw;
    /*background: coral;*/
}
.popUpHeader {
    display: flex;
    flex-basis: 2.4vw;
    /*height: 6.8518vh;*/
    font-style: normal;
    font-weight: 500;
    font-size: 2.5em;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1C1C1C;
    /*background: yellowgreen;*/
}
.popUpHeaderDescription {
    display: flex;
    flex-basis: 1.5vw;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3333em;
    line-height: 1.5;
    text-align: center;
    color: #000000;
    /*background: peachpuff;*/
}
.popUpHeaderGrafikRaboti {
    display: flex;
    flex-basis: 1.3vw;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2191;
    text-align: center;
    color: #000000;
    /*background: purple;*/
}
.popUpHeaderTypeTelefon {
    display: flex;

    flex-basis: 1.2vw;
    color: #000000;
    font-size: 1em;
    line-height: 1.2191;
    text-align: left;
    /*background: mediumspringgreen;*/
}
.phone_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-basis: 11vw;
    text-align: center;
}
#user_phone {
    display: flex;
    flex-basis: 18.5416vw;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px 8px 8px 36px;
    border: 1px solid #ccc;
    font-size: 1.5em;
    line-height: 1.1111;
    color: #363636;
    position: relative;
}
#user_phone:focus {
    outline: none;
    border-color: #363636;
}
input#user_phone:-moz-placeholder {
    color: #363636;
}
input#user_phone::-webkit-input-placeholder {
    color: #363636;
}
.btn_submit {
    display: flex;
    flex-basis: 7.0312vw;
    margin-right: -7.0312vw;
    /*height: 4.1666vh;*/
    opacity: 0%;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.btn_submit.disabled {
    color: #363636;
    background: #ccc;
}
.background_btn_submit {
    background: #F38120;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 7.8703vh;
    width: 18.5416vw;
    text-align: center;
    box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
    border-radius: 26.0416vw;
}
.callMePopUp {
    display: flex;
    flex-basis: 7.0312vw;
    height: 1.8518vh;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3333em;
    line-height: 1.25em;
    color: #FFFFFF;
    letter-spacing: 0.02em;
}
.arrowRight {
    display: flex;
    flex-basis: 1.8468vw;
    height: 0.8759vh;
}
.agreementFlex {
    display: flex;
    justify-content: space-evenly;
    flex-basis: 5vh;
    width: 21vw;
    align-items: center;
}
 .agreement {
     display: flex;
 }
.licenseAgreementBlock {
    color: #1C1C1C;
    display: flex;
    flex-basis: 16.6145vw;
    height: 5vh;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.75em;
    flex-direction: column;
    align-items: flex-start
  }
.licenseAgreementDownloadLink {
    display: flex;
    width: 19vw;
    text-decoration: none;
    color: #F38120;
}
.leftSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 8.5416vw;

    height: 58.0092vh;
    /*background: orange;*/
    text-align: center;
}
.leftSidebar li {
    display: flex;
    list-style-type: none;
    flex-basis: 8.1481vh;
    flex-direction: column;
    width: 8.3854vw;
    font-style: normal;
    font-size: 1.1666em;
    line-height: 1.5714;
    color: #1C1C1C;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 52vh;
    z-index: 2;
}
.mainHeader {
    display: flex;
    flex-direction: column;
    flex-basis: 20.6111vh;
    width: 31.5937vw;
    font-style: normal;
    font-weight: 300;
    font-size: 4.5833em;
    line-height: 1.5454;
    text-align: justify;
    color: #1C1C1C;
}
.boldText {
    display: contents;
}
.mainHeaderRounds {
    display: flex;
    justify-content: space-between;
    width: 22.1421vw;
    align-items: center;
}
.greenRound100 {
    display: flex;
    flex-basis: 0.4796vw;
    height: 0.4796vw;
    box-sizing: border-box;
    border: 1.5px solid #12C868;
    border-radius: 500px;
}
.greenRound75 {
    display: flex;
    flex-basis: 0.4796vw;
    height: 0.4796vw;
    box-sizing: border-box;
    border: 1.5px solid rgba(18, 200, 104, 0.75);
    border-radius: 500px;
}
.greenRound50 {
    display: flex;
    flex-basis: 0.4796vw;
    height: 0.4796vw;
    box-sizing: border-box;
    border: 1.5px solid rgba(18, 200, 104, 0.5);
    border-radius: 500px;
}
.greenRound25 {
    display: flex;
    flex-basis: 0.4796vw;
    height: 0.4796vw;
    box-sizing: border-box;
    border: 1.5px solid rgba(18, 200, 104, 0.25);
    border-radius: 500px;
}
.mainHeaderDescription {
    display: flex;
    width: 18.8229vw;
    height: 3.6111vh;
    font-style: normal;
    font-weight: 400;
    font-size: 2.6666em;
    line-height: 1.219;
    text-align: center;
    color: #1C1C1C;
}
.backGroundCalculateTheCost {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 20.5612vw;
    height: 9.2592vh;
    background-color: #12C868;
    box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
    border-radius: 500px;
    transition: all, 5s, cubic-bezier(5, 8, 3, 22);
}
.backGroundCalculateTheCost:hover {
    background-color: #21E27C;
    justify-content: space-evenly;
}
.calculateTheCostButton {
    display: flex;
    flex-basis: 11.69375vw;
    height: 4.074vh;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1666em;
    line-height: 1.5714;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.arrowTopRight {
    display: flex;
    flex-basis: 1.1458vw;
    color: #ffffff;
    height: 1.1458vw;
}



.backGroundCheckInForLookingHouses {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-basis: 19.1479vw;
    height: 9.2592vh;
    background-color: #F38120;
    box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
    border-radius: 500px;
    transition: all, 5s, ease-in-out;
}
.backGroundCheckInForLookingHouses:hover {
    background-color: #FD9C49;
    justify-content: space-evenly;
}
.checkInForLookingHousesButton {
    display: flex;
    flex-basis: 11.7029vw;
    height: 4.074vh;
    font-style: normal;
    font-weight: 600;
    font-size: 1.1666em;
    line-height: 1.5714;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
}
.answerSomeQuestionsContainer {
    display: flex;
    width: 15vw;
    justify-content: space-evenly;
}
.answerSomeQuestions {
    display: flex;
    flex-basis: 12.187vw;
    height: 8.1481vh;

    font-style: normal;
    font-size: 1.1666em;
    line-height: 1.57;
    text-align: center;
    letter-spacing: 0.02em;
    color: #1C1C1C;
}
.fingerPrint {
    display: flex;
    flex-basis: 1.1265vw;
    height: 1.6222vh;
    background: #1C1C1C;
}
@media (min-width: 1920px) {

}